@media (max-width: 1800px) and (min-width: 1000px)
{
#full
{
	width: 100%;
	height: auto;
}
#button
{
	display: none;
}
#header
{
	width: 100%;
	height: 100px;
	background: silver;
	position: fixed;
}
#logo
{
	width: 30%;
	height: 100px;
	float: left;
}
#nav
{
	width: 70%;
	height: 100px;
	float: left;
}
ul li
{
	list-style: none;
	float: left;
	width: 14%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 60px;
}
a
{
	text-decoration: none;
	color: white;
}
h1
{
	padding: 10px;
}
#f1
{
	width: 100%;
	height: 150px;
	background-color: silver;
	color: black;
}
#Welcome
{
	width: 100%;
	height: auto;
}

#brand
{
    width:100%;
    height: auto;
}
#one
{
	width: 33%;
	height: auto;
	float: left;
}
#two
{
	width: 33%;
	height: auto;
	float: left;
}
#three
{
	width: 33%;
	height: auto;
	float: left;
}
}

@media (max-width: 1000px) and (min-width: 700px)
{
#full
{
	width: 100%;
	height: auto;
}
#button
{
	display: none;
}
#header
{
	width: 100%;
	height: auto;
	background: silver;
	position: fixed;
}
#logo
{
	width: 100%;
	height: 100px;
}
#nav
{
	width: 100%;
	height: 100px;
}
ul li
{
	list-style: none;
	float: left;
	width: 14%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 60px;
}
a
{
	text-decoration: none;
	color: white;
}
h1
{
	padding: 10px;
}
#f1
{
	width: 100%;
	height: 150px;
	background-color: silver;
	color: black;
}
#Welcome
{
	width: 100%;
	height: auto;
}

#brand
{
    width:100%;
    height: auto;
}
#one
{
	width: 33%;
	height: auto;
	float: left;
}
#two
{
	width: 33%;
	height: auto;
	float: left;
}
#three
{
	width: 33%;
	height: auto;
	float: left;
}
}

@media (max-width: 700px) and (min-width: 500px)
{
#full
{
	width: 100%;
	height: auto;
}
#header
{
	width: 100%;
	height: 100px;
	background-color: silver;
}
#logo
{
	width: 30%;
	height: 100px;
	float: left;
}
#nav
{
	width: 70%;
	height: 100px;
	float: left;
}
ul li
{
	list-style: none;
	float: left;
	width: 14%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 60px;
}
a
{
	text-decoration: none;
	color: white;
}
h1
{
	padding: 10px;
}
#f1
{
	width: 100%;
	height: 150px;
	background-color: silver;
	color: black;
}
#Welcome
{
	width: 100%;
	height: auto;
}
#brand
{
    width:100%;
    height: auto;
}
#one
{
	width: 100%;
	height: auto;
}
#two
{
	width: 100%;
	height: auto;
}
#three
{
	width: 100%;
	height: auto;
}
}

@media (max-width: 500px) and (min-width: 50px)
{
#full
{
	width: 100%;
	height: auto;
}
#header
{
	width: 100%;
	height: auto;
	background: silver;
	position: fixed;
}
#logo
{
	width: 30%;
	height: 100px;
	float: left;
}
#nav
{
	width: 100%;
	height: auto;
}
ul li
{
	list-style: none;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 60px;
}
a
{
	text-decoration: none;
	color: white;
}
h1
{
	padding: 10px;
}
#f1
{
	width: 100%;
	height: 150px;
	background-color: silver;
	color: black;
}
#Welcome
{
	width: 100%;
	height: auto;
}

#brand
{
    width:100%;
    height: auto;
}
#one
{
	width: 33%;
	height: auto;
	float: left;
}
#two
{
	width: 33%;
	height: auto;
	float: left;
}
#three
{
	width: 33%;
	height: auto;
	float: left;
}
}


/* index.php css. */

#form
{
	width: 600px;
	padding-top: 100px;
	height: auto;
}
td
{
	width: 300px;
	height: 50px;
}

/* form.php css. */

#banner
{
	width: 100%;
	height: 70px;
	background-color: transparent;
}
#connect
{
	padding-top: 100px;
}
/*-----*/
